/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Background */
body{
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:30px;
}

/* Card */
.container{
    width:90%;
    max-width:900px;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.25);
    text-align:center;
}

/* Heading */
h1{
    color:#1f2937;
    margin-bottom:10px;
}

h2{
    color:#555;
    margin-bottom:25px;
}

/* Table */
table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:25px;
}

/* Table Header */
th{
    background:#2563eb;
    color:white;
    padding:15px;
    font-size:18px;
}

/* Table Cells */
td{
    padding:12px;
    border-bottom:1px solid rgb(0, 0, 0);
}

/* Alternate Rows */
tr:nth-child(even){
    background:#f4f7fb;
}

/* Hover */
tbody tr:hover{
    background:#dbeafe;
    transition:0.3s;
}

/* Home Button */
.home-btn{
    display:inline-block;
    text-decoration:none;
    background:#16a34a;
    color:white;
    padding:12px 25px;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

.home-btn:hover{
    background:#15803d;
    transform:translateY(-2px);
}